
.mail-details{
    background-color: rgb(252, 252, 252);
    max-width: 80vw;
    margin: 1px;
    margin-left: 24px;
    margin-right: 10em;
    height: 80vh;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    border: 1px solid var(--background);

}

.mail-details-header{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    height: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.mail-details main span{
    font-size: 1em;
    font-style: bold;
}

.mail-text{
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;

    box-shadow: var(--box-shadow);
}

.mail-details-body{
    font-size: 1.5em;

}

.main-details-subject{
    min-height: 2em;
    margin: auto;
    text-align: center;
}

.mail-details-icons{
    justify-content: space-between;
}