/* MailList */


.icon{
    padding: 6px;
}

.checkbox{
    padding: 6px;
}
 /* .inbox-mails.full :hover {
    transition: .5s;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
} */

.icon:hover{
    border-radius: 50%;
    background-color: var(--hover);
    cursor: pointer;
}
