.mail-details-main{
    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 4em;
}

.mail-details main span{
    font-size: 1em;
    font-style: bold;
}

.mail-text{
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


