

.unread{
    font-weight: 600;
}

.read tr{
    font-weight: 100;
}

.isStar{
    color: gold;
}

.isStar>*{
    background-color: gold;
}

.row{
    display: flex;
    flex:1;
    padding: 16px;
    align-items: center;
    border-bottom: 1px solid var(--hover);

}

.col{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;

}

.large.col{
    min-width: 50px;
    justify-content: space-between;
    right: 0;
    flex:8
}

.inbox-mail{
    padding-inline-end: 10px;
}

.email-list-address{
    min-width: 170px;
    padding-inline-end: 5px;
}
.email-list-subject{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 260px;
    font-size:1.2em;
}

.email-body{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 200px
}

/* .email-body{
    max-width: 200px;
} */

.main-row :hover{
    transition: .5s;
    background-color: var(--hover2);
    box-shadow: var(--box-shadow);
}

/* .email-body :hover{
    background-color:none;
    box-shadow: none;
} */

.no-hover :hover{
    background-color:none;
    box-shadow: none;
}

.div-for-mobile{
    display: none;
}