.mobile-new-mail {
    display: none;
    background-color: #c2e7ff;
    height: 46px;
    min-width: 38px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-weight: bold;
    position: fixed;
    left: 3px;
    bottom: 5px;
}