header {
    background: rgb(243, 243, 243);
    border-bottom: 2px solid white;
    box-shadow: var(--box-shadow);
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    box-shadow: var(--box-shadow);
}

nav a {
    margin-inline-end: 10px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

}

nav a:active {
    color: purple;
}

nav a.active {
    color: var(--active);
    font-weight: bold;
    text-decoration: overline;
}

.nav-hedear img:last-child {
    margin-right: 2rem;
}

.nav-hedear img {
    height: 45px;
    width: 45px;

}

.app-header img {
    height: 40px;
    width: 40px;
    cursor: pointer;

}

.app-header img.menu {
    display: none;
}

@media (max-width: 500px) {
    .nav-hedear {
        position: fixed;
        flex-direction: column;
        top: 9%;
        right: 0;
        background-color: var(--clr1);
        max-height: 100vh;
        text-align: center;
        justify-content: center;
        width: 100%;
        transform: translateX(100%);
        background-color: rgb(243, 243, 243);
        z-index: 15;
    }

    .menu-open {
        transform: translateX(0);
    }

    .fa.home {
        display: block;
    }

    .nav-hedear a {
        height: 40px;
        width: 40px;
    }

    .app-header img.menu {
        display: block;
        margin-right: 15px;
    }

    
}